@{
    ViewData["Title"] = "Cars Page";
}

@model List<integerWebApplication.Models.Car>

<div class="card shadow p-2">
    <h1>@ViewData["Title"]</h1>
    <hr/>
    <table class="table table-bordered table-sm table-striped">
        <thead>
            <tr>
                <th>Id Registrasi</th>
                <th>Type</th>
                <th>Brand</th>
                <th>Varian</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Cars)
            {
                <tr>
                    <td>@item.IdRegistration</td>
                    <td>@item.Type</td>
                    <td>@item.Brand</td>
                    <td>@item.Variant</td>
                </tr>   
            }
        </tbody>
    </table>
</div>
